@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Karla", sans-serif;
  font-weight: 700;
}
nav {
  h1 {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
  }
}
.toggle-button {
  position: absolute;
  top: .30rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 28px;
  height: 15px;
}
.toggle-button .bar {
  height: 3%;
  width: 60%;
  background-color: black;
  border-radius: 8px;
}

.navbar_desktop  {
  display: none;
}

.mission {
  background-color: hsl(256, 26%, 20%);
  background-image: url(../images/bg-pattern-how-we-work-mobile.svg);
  color: white;
  text-align: center;
}





@media screen and (min-width: 700px) {
  .navbar_desktop  {
    display: flex;
    justify-content: space-between;
    li {
      list-style: none;
    }
  }
}